/*
.slideshow {
   background: url(images/slider.png) no-repeat;
   display: block;
   height: 0;
   padding-bottom: 39.663716814%;
   background-size: 100%;
}
*/

/*

great site to know breakpoints:
http://www.responsivejs.com/wiki/breakpoints

*/

h1.showy {
  display: none !important;
}

.well {
  border-radius: 4px;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}

// featured section
.featured {
  background: url("images/dots.jpg") repeat;
  overflow: hidden;
  padding-top: 30px;
  border-bottom: 1px solid $mid-gray;
  @include gs-span(d, all);

  // flexslider plugin (styles overwritten)
  .flexslider {
    background-color: $main-color;
    border: 5px solid $main-color;
    @include box-shadow(0 0 15px 2px rgba(0, 0, 0, 0.5));
    margin: 0 auto 69px auto;
    width: 70%;

    // flexslider loader
    &.loading {
      background: url("images/ajax-loader.gif") no-repeat scroll center center $main-color;
    }
  }
}

.buckets {
  text-align: center;
  background: $background-color;
  //border-top: 1px solid $mid-gray;
  //border-bottom: 1px solid $main-color;
  //border-top: 1px solid $main-color;
  //&:after {
  //  content: "eieio";
  //  background-color: white;
  //  width: 100%;
  //  z-index: 10;
  //}
}

@media screen and (min-width: $three_column_smallest) {
/* anything bigger than 480 = 3 columns */
/* @include gs-media(t) */
  .left {
    @include gs-span(t, 1);
  }
  .middle {
    @include gs-span(t, 2);
  }
  .right {
    @include gs-span(t, 3);
  }
}

@media screen and (max-width: $max_size_for_big_text) {
/* if less than 800, then start to shrink the text */
  .message {
    font-size: 0.8rem;
    font-size: 2vw;
  }
}

@media screen and (max-width: $three_column_smallest - 1px) {
/* if less than 479, just make it all one column */
/*not @include gs-media(m)*/
  .left, .middle, .right {
    .message {
      font-size: 100%;
    }
    @include gs-span(m, all);
  }
}

.bottom {
  position: absolute;
  width: 300px;
  bottom: 0px;
  height: 50px;

  .button {
    margin: 0 auto;
    // position: absolute;
    // width: 100px;
  }
}

[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
}

/* .pics > div {} */
@mixin message_row($h) {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: $h;
}

.describe_row {
  /*padding: 20px 30px;*/
  @include gs-span(t, all);

  .message {
    /*font-size: 2vw;*/
    @include message_row(200px);
  }

  .pic {
    max-width: 298px;
    margin-bottom: 8%;
    @include message_row(230px);

    figure {
      -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.55);
      -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.55);
      box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.55);
      /*width: 298px;*/
      margin: 4px auto;
      background: $main-color;
      padding: 0px;

      img {
        max-width: 100%;
        height: auto;
        width: auto\9;
      }

      figcaption {
        background: $main-color;
        width: 100%;
        height: 40px;
        position: relative;
        font-family: "brandon-grotesque", sans-serif;

        a {
          position: absolute;
          top: 7px;
          padding-left: 20px;
          color: #fff;
          border: 0;

          &:hover {
            color: #fff;
            border-color: #fff;
          }
        }
      }
    }
  }
}