/*.slideshow {
    background: url(images/slider.png) no-repeat;
    display: block;
    height: 0;
    padding-bottom: 39.663716814%;
    background-size: 100%;
}
*/
.well {
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border-radius: 4px;  
}

.featured {
  background: url(images/dots.jpg) repeat;
  padding-top: 30px;
  padding-bottom: 50px;
  @include gs-span(d, all);
  .flexslider {
    width: 50%;
    margin: 0 auto;
  }
}

.buckets {
    text-align: center;
    background: $background-color;
    border-top: 1px solid $mid-gray;
    border-bottom: 1px solid $mid-gray;
}

/* .pics > div {} */
@mixin message_row($h, $w) {
    width: $w;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: $h;
}

.bottom {
    position: absolute;
    width: 300px;
    bottom: 0px;
    height: 50px;
    .button {
        margin: 0 auto;
/*        position: absolute;
        width: 100px;*/
    }
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
}

.describe_row {
    padding: 20px 30px;
    @include gs-span(t, all);
    .message {
        @include message_row(200px, 300px);
    }
    .pic {
        @include message_row(230px, 300px);
        figure {             
            -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.55);
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.55);
            width: 298px;
            margin: 4px auto;
            background: $main-color;
            padding: 0px;
            figcaption {
                background: $main-color;
                width: 100%;
                height: 40px;
                position: relative;
                font-family: "brandon-grotesque",sans-serif;
                a {
                  position: absolute;
                  top: 7px;
                  padding-left: 20px;
                  color: #fff;
                  border: 0;
                }
                a:hover {
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
    }
}