@font-face {
	font-family: 'ptpNova';
	src:url('fonts/ptpNova.eot');
	src:url('fonts/ptpNova.eot?#iefix') format('embedded-opentype'),
		url('fonts/ptpNova.woff') format('woff'),
		url('fonts/ptpNova.ttf') format('truetype'),
		url('fonts/ptpNova.svg#ptpNova') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'ptpNova';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mail, .icon-mail-2, .icon-envelop, .icon-envelope, .icon-print, .icon-mobile, .icon-phone, .icon-phone-2, .icon-support {
	font-family: 'ptpNova';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mail:before {
	content: "\e000";
}
.icon-mail-2:before {
	content: "\e001";
}
.icon-envelop:before {
	content: "\e002";
}
.icon-envelope:before {
	content: "\e003";
}
.icon-print:before {
	content: "\e004";
}
.icon-mobile:before {
	content: "\e005";
}
.icon-phone:before {
	content: "\e006";
}
.icon-phone-2:before {
	content: "\e007";
}
.icon-support:before {
	content: "\e008";
}
