
// used only for footer very bottom

/* MAIN STYLES */

//@media screen and (max-width: 40em) {
//  .inner {
//    box-shadow: none;
//    -webkit-box-shadow: none;
//  }
//}

.header {
  @include gs-span(d, all);
  -webkit-box-shadow: inset 0 0 $box_blur_radius rgba(0,0,0,$alpha);
  -moz-box-shadow: inset 0 0 $box_blur_radius rgba(0,0,0,$alpha);
  -o-box-shadow: inset 0 0 $box_blur_radius rgba(0,0,0,$alpha);
  box-shadow: inset 0 0 $box_blur_radius rgba(0,0,0,$alpha);
  padding-bottom: 10px;
  border-bottom: 1px solid $border_color;
}
#logo_container {
  #logo {
    width: 308px;
    height: 112px;
    background: url(images/logo.png) no-repeat right;
    display: block;
    margin: 7px auto;
    text-align: right;
    &:hover {
      opacity: 0.85;
    }
  }
}

@include gs-media(d) {

  .col1 {
      @include gs-span(d, 3, 4);
  }

  .col2 {
      @include gs-span(d, 5, 6);
  }

  .col3 {
      @include gs-span(d, 7, 8);
  }

  .col4 {
      @include gs-span(d, 9, 10);
  }

}

@include gs-media(m) {
  .col1, .col2, .col3, .col4 {
    text-align: center;
    padding-bottom: 0.8em;
    @include gs-span(m, all);
  }
}

#content {
    @include gs-span(d, all);
    &.content_page {
        padding: 20px 0;
        border-bottom: 1px solid $main-color;
    }
}

#secondary {
/*    @extend .well; */
    @include gs-span(d, 9,11);
    border-left: 1px solid #efefef;
    padding-left: 30px;
}

#primary {
    @include gs-span(d, 2, 8);
/*    background-color: $background-color;
    border: 1px solid $main-color;
    padding:10px;
    border-radius: 4px; */
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}




