
.left {
    @include gs-span(t, 1);
}

.middle {
    @include gs-span(t, 2);
}

.right {
    @include gs-span(t, 3);
}

.col1 {
    @include gs-span(d, 3, 4);		
}

.col2 {
    @include gs-span(d, 5, 6);		
}

.col3 {
    @include gs-span(d, 7, 8);		
}

.col4 {
    @include gs-span(d, 9, 10);		
}

.header {
	@include gs-span(d, all);
	@include gs-span(m, all);	
	-webkit-box-shadow: inset 0 0 $box_blur_radius rgba(0,0,0,$alpha);
	-moz-box-shadow: inset 0 0 $box_blur_radius rgba(0,0,0,$alpha);
	-o-box-shadow: inset 0 0 $box_blur_radius rgba(0,0,0,$alpha);
	box-shadow: inset 0 0 $box_blur_radius rgba(0,0,0,$alpha);
    padding-bottom: 10px;	
    border-bottom: 1px solid $border_color;
}

#content {
    @include gs-span(d, all);
    &.content_page {
        padding: 20px 0;
        border-bottom: 1px solid $main-color;
    }
}

#secondary {
/*    @extend .well; */
    @include gs-span(d, 9,11);
    border-left: 1px solid #efefef;
    padding-left: 30px;
}

#primary {
    @include gs-span(d, 2, 8);
/*    background-color: $background-color;
    border: 1px solid $main-color;
    padding:10px;
    border-radius: 4px; */
}




