body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: $p-text;
    text-rendering: optimizeLegibility;
    line-height: 150%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, button, input, select, textarea {
    color: $darkest;
}


/*---------------Edit button formatting is off------------*/
.button a {
  color: $white;
}
/*---------------Edit button formatting is off------------*/

html {
    font-size: 1em;
    line-height: 1.4;
}

h1,h2,h3, h4 {
    font-family: $accent_font_family;
}

h1 {
    font-size: 2em;
    color: $main-color;
    line-height: 1.4em;
    margin:0;
    padding: 10px 0;
    /* 44px / 16px */
}

h1, h2, h3, h4 {
    visibility: hidden;
}

/*.wf-loading {
  h1, h2, h3, h4 {
    color: red;
    visibility: hidden;
  }
}*/

.wf-active {
  h1, h2, h3, h4 {
    visibility: visible;
  }
}

h2, h3, h4, h5 {
    color: $p-text;
}


h2 {
    font-size: 1.625em;
    /* 36px / 16px */
}

h3, h4 {
    font-size: 1.375em;
    /* 24px / 16px */
    font-weight: 700;
}

h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.375em;
}

h5 {
    font-size: 1.125em;
}

strong {
    color: $main-color;
}

p {
    font-size: 1.125em;
    /* 18px / 16px */
}

a {
    @include transition(all, 0.2s, ease-in-out);
    color: $main-color;
    text-decoration: none;
/*    border-bottom: 1px solid $main-color; */
}

/* -----From Virae Blog Tags ----------*/

.tagcloud a {
  margin-left: 12px;
  margin-right: 6px;
  margin-top: 6px;
  padding: 0 10px 0 12px;
  background: #fed86f;
  color: #963;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  text-decoration: none;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; 
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
  margin-bottom: 8px;
  &:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #fed86f transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
  }
  &:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    background: #963;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;    
  }
  &:hover {
    background: #58504b;
    color: #fff;
    text-shadow: none;
    &:before {
      border-color: transparent #58504b transparent transparent;
    } 
    &:after {
      background: #fed86f;
    }   
  }
}

/* -----From Virae Blog Tags ----------*/

a:hover {
    color: darken($secondary-color, 12%);
    border-bottom: 1px solid $secondary-color;
}

.wrapper {
    border-top: 6px solid $main-color;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $mid-gray;
    margin: 1em 0;
    padding: 0;
}