body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    color: $p-text;
    text-rendering: optimizeLegibility;
    line-height: 150%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

html, button, input, select, textarea {
    color: $darkest;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

h1,h2,h3, h4 {
    font-family: $accent_font_family;
}

h1 {
    font-size: 2em;
    color: $main-color;
    line-height: 1.4em;
    margin:0;
    padding: 10px 0;
    /* 44px / 16px */
}

h1, h2, h3, h4 {
    visibility: hidden;
}

/*.wf-loading {
  h1, h2, h3, h4 {
    color: red;
    visibility: hidden;
  }
}*/

.wf-active {
  h1, h2, h3, h4 {
    visibility: visible;
  }
}

h2, h3, h4, h5 {
    color: $p-text;
}


h2 {
    font-size: 1.625em;
    /* 36px / 16px */
}

h3, h4 {
    font-size: 1.375em;
    /* 24px / 16px */
    font-weight: 700;
}

h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.375em;
}

h5 {
    font-size: 1.125em;
}

strong {
    color: $main-color;
}

p {
    font-size: 1.125em;
    /* 18px / 16px */
}

a {
    @include transition(all, 0.2s, ease-in-out);
    color: $main-color;
    text-decoration: none;
/*    border-bottom: 1px solid $main-color; */
}

a:hover {
    color: darken($secondary-color, 12%);
    border-bottom: 1px solid $secondary-color;
}

.wrapper {
    border-top: 6px solid $main-color;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $mid-gray;
    margin: 1em 0;
    padding: 0;
}