/* application variables */

$main-color: #556293;
$secondary-color: #fbaf41;
$mid-gray: #ccc;
$background-color: #ebedf4;
$p-text: #363636;
$border_color: #e6e6e6;
$box_blur_radius: 30px;
$box_blur_radius_footer: 80px;
$box_blur_radius_footer_N: -80px;
$alpha: 0.1;
$alpha_bottom: 0.4;
$light_blue: #dee0eb;
$icon-size: 1.5em;

$accent_font_family:  "brandon-grotesque",sans-serif;