/* application variables */

$main-color: #556293;
$light-purple: #7b89b8;
$other-purple: #7280ad;
$dark-purple: #4a5991;
$very-dark: #383838;
$darkest: #222;
$secondary-color: #fbaf41;
$sky-blue: #b3d4fc;
$border-accent: #6f7cac; // #1b4d80; // very dark blue

$background-color: #ebedf4;
$p-text: #363636;
$border_color: #e6e6e6;
$box_blur_radius: 30px;
$box_blur_radius_footer: 5px;
$box_blur_radius_footer_N: 2px;
$alpha: 0.1;
$alpha_bottom: 0.4;
$light_blue: #dee0eb;
$icon-size: 1.5em;
$small_blur: 10px;
$white: #fff;
$black: #000;

$accent_font_family:  "brandon-grotesque",sans-serif;

$icon-font-path: "" !default;
$icon-font-name: "glyphicons-halflings-regular" !default;

$ifont: "Glyphicons Halflings";

/* twitter bootstrap variables */

// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$mid-gray: #ccc;

// Typography
// -------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          13px !default;
$font-size-large:         ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small:         ceil($font-size-base * 0.85) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base) !default; // ~20px

$headings-font-family:    $font-family-base !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;

// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

$padding-base-vertical:          3px !default;
$padding-base-horizontal:        12px !default;

$border-radius-base:             4px !default;

// Forms
// -------------------------

$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border:                   #ccc !default;
$input-border-radius:            $border-radius-base !default;
$input-border-focus:             $secondary-color !default;

$input-color-placeholder:        $gray-light !default;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

$input-group-addon-bg:           $gray-lighter !default;
$input-group-addon-border-color: $input-border !default;

$text-color:            $gray-dark !default;
$grid-gutter-width:         30px !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;
